<!DOCTYPE html>
<html data-bs-theme="dark" lang="en" style="font-family: Ubuntu, sans-serif;">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>UnGames | {{ title }}</title>
		<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/Lato.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/Permanent Marker.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/Ubuntu.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='fonts/ionicons.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/Navbar-Right-Links-Dark-icons.css') }}">
	</head>
	<body>
		<nav class="navbar navbar-expand-md py-3" data-bs-theme="dark" style="background: transparent;">
			<div class="container-fluid"><a class="navbar-brand d-flex align-items-center" style="font-size: 24px;" href="{{ url_for('home')}}"><span class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="background: transparent;"><i class="icon ion-ios-game-controller-b"></i></span><span style="font-family: 'Permanent Marker', serif;color: var(--bs-purple);">UnGames</span></a><button class="navbar-toggler" data-bs-toggle="collapse"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
			</div>
		</nav>
	{% block content %} {% endblock %}
    </body>
	<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {% block scripts %} {% endblock %}
</html>